<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	</head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<body>
	<div ng-app="myTodoList" ng-cloak ng-controller="todoListCtrl" class="w3-card-2 w3-margin" style="max-width:400px;">
	  <header class="w3-container w3-light-grey w3-padding-hor-16">
	    <h3>My Todo List</h3>
	  </header>
	  <ul class="w3-ul">
	    <li ng-repeat="todoItem in products  | filter:Completed=false" class="w3-padding-hor-16">{{todoItem.Title}}<label for="mark_Completed_Chkbx" class="w3-right w3-margin-right"> Completed?</label><span ng-click="removeItem(todoItem)" style="cursor:pointer;" class="w3-right w3-margin-right"><input type="checkbox" ng-model="todoItem.Completed" if="mark_Completed_Chkbx"></span></li>
	  </ul>
	  <div class="w3-container w3-light-grey w3-padding-hor-16">
	    <div class="w3-row w3-margin-top">
	      <div class="w3-col s10">
	        <input placeholder="Add todo list items here" ng-model="addMe" class="w3-input w3-border w3-padding">
	      </div>
	      <div class="w3-col s2">
	        <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
	      </div>
	    </div>
	    <p class="w3-padding-left w3-text-red">{{errortext}}</p>
	  </div>
	  <div>
	  	<p>Completed Tasks</p>
	  	<ul class="w3-ul">
	  		<li ng-repeat="todoItem in products | filter:Completed=true"><strike>{{todoItem.Title}}</strike></li>
	  	</ul>
	  </div>
	</div>
	<script src="js/todoList.js"></script>
	</body>
</html>